* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(#f5a9b8, #55cdfc);
    height: 100vh;
}

.wrapper {
    width: 100%;
    font-family: 'Hachi Maru Pop', cursive;
    text-align: center;
}

.socialMedia {
    width: 32px;
    height: 32px;
}

.wrapper .intro .pfp img {
    width: 270px;
    height: 200px;
}

.wrapper .intro h2 {
    margin: 20px;
}

.wrapper .intro h3 {
    font-size: 16px;
    padding-bottom: 15px;
}

.wrapper hr {
    padding: 10px;
    background-image: linear-gradient(to right, #f5a9b8, #FFB7B2, #FFDAC1, #E2F0CB, #B5EAD7, #55cdfc);
    border: transparent;
}

/* Tablet style */
@media only screen and (min-width: 768px) {
    .wrapper .intro .pfp {
        width: 370px;
        height: 300px;
        display: block;
        margin: 0 auto;
    }
    .wrapper .intro a img {
        display: inline-block;
        margin: 0 auto;
    }
    .wrapper .intro h2 {
        font-size: 34px;
    }
    .wrapper .intro h3 {
        font-size: 20px;
    }
}
